/* Editor Css */
.c_editor h1,
.c_editor h2,
.c_editor h3,
.c_editor h4,
.c_editor h5,
.c_editor h6 {
    font-weight: 300;
    line-height: 1.3;
    margin-top: 40px;
}

.c_editor h1 {
    font-size: 40px;
}

.c_editor h2 {
    font-size: 36px;
}

.c_editor h3 {
    font-size: 32px;
}

.c_editor h4 {
    font-size: 30px;
}

.c_editor h5 {
    font-size: 28px;
}

.c_editor h6 {
    font-size: 24px;
}

.c_editor p {
    color: #444444;
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.5;
}

.c_editor ol,
.c_editor ul {
    margin-top: 40px;
    list-style: none;
    font-size: 18px;
    margin-left: 20px;
}

.c_editor ol li,
.c_editor ul li {
    margin-top: 30px;
    padding-left: 20px;
    position: relative;
}

.c_editor ol li:first-child,
.c_editor ul li:first-child {
    margin-top: 0;
}

.c_editor ol li {
    counter-increment: item;
}

.c_editor ol li:before {
    content: counter(item)'.';
    color: #4136F1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    text-align: center;
}

.c_editor ul li:before {
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #4136F1;
    content: '';
}

.c_editor blockquote {
    font-size: 28px;
    font-family: 'Jura';
    line-height: 1.6;
    color: #777;
    padding: 40px;
    border-bottom: 2px solid #4136F1;
    border-top: 2px solid #4136F1;
    margin-top: 40px;
    position: relative;
}

.c_editor blockquote:before {
    content: open-quote;
    font-size: 32px;
    position: absolute;
    left: 11px;
    top: 40px;
    line-height: normal;
    font-family: 'Merriweather';
    color: #4136F1;
}

.c_editor blockquote:after {
    content: close-quote;
    position: absolute;
    font-size: 32px;
    font-family: 'Merriweather';
    color: #4136F1;
    line-height: normal;
    margin-left: 10px;
    margin-top: 5px;
}

.c_editor i,
.c_editor em {
    font-style: italic;
}

.c_editor b,
.c_editor strong {
    font-family: 'Jura';
    font-weight: bold;
}

.c_editor a {
    color: #4136F1;
    border-bottom: 1px solid transparent;
}

.ac-no-touchevents .c_editor a:hover {
    border-color: #4136F1;
}

.c_editor u {
    text-decoration: none;
    border-bottom: 1px solid #a1a1a1;
}

.c_editor *:first-child {
    margin-top: 0;
}

/* Editor Css */