@media (max-width:1600px) {
    .c {
        padding: 0 40px;
    }

    .banner_title {
        font-size: 60px;
    }

    .banner_sub,
    .faq .title {
        font-size: 45px;
    }

    .features .title {
        font-size: 62px;
    }

    .sec_pad {
        padding: 80px 0;
    }

    .faq_content {
        padding: 80px;
    }

    .faq_content .title {
        font-size: 20px;
    }

    .testmonials.sec_pad {
        padding: 180px 0;
    }

    .sec_pad+.sec_pad {
        margin-top: -80px;
    }

    .how_works .title {
        font-size: 45px;
    }

    .how_works .swiper-container {
        margin-top: 80px;
    }
.header_menu a {
    padding:10px 20px;
}
.login ._row {
    margin: 0 -120px;
}

.login ._col {
    padding: 0 120px;
}
.form .title {
    font-size:19px;
}
.form form {
    margin-top: 40px;
}
.form_group .btn, .login_google, .google.auth-link {
    padding: 8px 10px;
    font-size: 17px;
}
.forgot_text {
     font-size: 15px;
}
.intra_title {
    font-size:13px   
}
}

@media (max-width:1400px) {
    .banner_title {
        font-size: 55px;
    }

    .banner_sub,
    .faq .title {
        font-size: 43px;
    }

    .features .title {
        font-size: 60px;
    }

    .sec_pad {
        padding: 70px 0;
    }

    .faq_content {
        padding: 70px;
    }

    .testmonials.sec_pad {
        padding: 170px 0;
    }

    .how_works .swiper-container {
        margin-top: 70px;
    }

    .sec_pad+.sec_pad {
        margin-top: -70px;
    }

    .circles {
        height: 500px;
        width: 500px;
    }

    .how_works .title {
        font-size: 42px;
    }
    .header_menu a {
    padding:10px;
}
.login ._row {
    margin: 0 -100px;
}
.login ._col {
    padding: 0 100px;
}
.form form {
    margin-top: 30px;
}
}
@media (max-width:1250px) {
    ._col_senti_f, ._col_senti_s, ._col_senti_t {
    width: 50%;
}
  ._option_scope {
        width:40%;
    }
    ._option_scope_center {
        width:60%;
    }
    ._option_scope_last {
        width:40%;
        margin-top:20px;
    }
}
@media (max-width:1200px) {
    .banner_title {
        font-size: 50px;
    }

    .banner_sub,
    .faq .title {
        font-size: 40px;
    }

    .features .title {
        font-size: 55px;
    }

    .sec_pad {
        padding: 60px 0;
    }

    .faq_content {
        padding: 60px;
    }

    .faq_content .title {
        font-size: 18px;
    }

    .testmonials.sec_pad {
        padding: 120px 0;
    }

    .how_works .swiper-container {
        margin-top: 60px;
    }

    .sec_pad+.sec_pad {
        margin-top: -60px;
    }

    .circles {
        height: 400px;
        width: 400px;
    }

    .how_works .title {
        font-size: 40px;
    }
    .login ._row {
    margin: 0 -80px;
}
    .login ._col {
    padding: 0 80px;
}
._login_left, ._login_right {
    width: 50%;
}
.form .title {
    font-size:18px;
}
.form form {
    margin-top: 20px;
}
.google.auth-link:after {
    font-size: 16px;
}
}

@media (max-width:1024px) {
    .c {
        padding: 0 30px;
    }

    .banner_title {
        font-size: 45px;
    }

    .banner_sub,
    .faq .title {
        font-size: 35px;
    }

    .features .title {
        font-size: 50px;
    }

    .title {
        font-size: 20px;
    }

    .features ._col_2 {
        width: 100%;
    }

    .features ._col_2:first-child {
        justify-content: center;
        display: flex;
    }

    .circles {
        height: 600px;
        width: 600px;
    }

    .grid {
        padding: 30px
    }

    .sec_pad {
        padding: 50px 0;
    }

    .faq_content {
        padding: 50px;
    }

    .testmonials.sec_pad {
        padding: 100px 0;
    }

    .how_works .swiper-container {
        margin-top: 50px;
    }

    .sec_pad+.sec_pad {
        margin-top: -50px;
    }

    .how_works .title {
        font-size: 38px;
    }
    .intra_row ._col._col_2{
        width:100%;
    }
    .intra_row ._col._col_4{
        width:50%;
        margin-top: 20px;
    }
    .plans_header ._col {
        padding:10px;
        font-size:15px;
    }
    ._col_range, ._col_timings {
        width:100%;
    }
    ._col_timings {
        margin-top:30px;
    }
  
}

@media (max-width:920px) {
    .header_menu  {
        display:none;
    }
    .burger_menu  {
        display:block;
    }
    .mobile_nav {
        padding-top:80px
    }
    .mobile_nav .sub_menus {
        display: none;
        position: relative;
        width: 100%;
        transition: opacity .4s, visibility .4s;
    }
   .mobile_nav .sub_menus li a {
        text-align:left;
    }
    .mobile_nav li  a {
        border-bottom:1px solid rgb(0 0 0 / 10%);
    }
    .mobile_nav li a {
        display:block;
        padding:10px 10px;
    }
    .mobile_nav .sub_menu {
        position:relative;
        display: block;
    }
    .mobile_nav .menu_arrow {
        right:10px;
    }
    .mobile_nav .sub_menu_open ~ .sub_menus  {
        display: block;
        opacity:1;
        visibility:visible;
    }
    .mobile_nav .image {
        display:none;
    }
    .mobile_nav .menu_profile .menu_arrow {
    display:block;
}
.login ._row {
    margin: 0 -60px;
}
    .login ._col {
    padding: 0 60px;
}
.form {
    padding:0 20px;
}
}

@media (max-width:820px) {
    .banner_title {
        font-size: 40px;
    }

    .banner_sub,
    .faq .title {
        font-size: 30px;
    }

    ._col_3 {
        width: 50%;
    }

    .features .title {
        font-size: 45px;
    }

    .faq_content .title {
        font-size: 16px;
    }

.forgot_text {
     font-size: 14px;
}
    ._col {
        padding: 0 10px;
    }

    ._row {
        margin: 0 -10px
    }

    .three_box_inner ._col_3 {
        margin-bottom: 20px;
    }

    .grid {
        padding: 20px
    }

    .how_works .title {
        font-size: 35px;
    }

    ._testi_left,
    ._testi_right {
        width: 100%;
        padding: 0 20px
    }

    .testmonials ._row {
        margin: 0 -20px;
    }

    .faq_div {
        padding: 20px;
    }

    .faq_div:first-child {
        padding: 0 20px 20px 20px
    }

    .footer_top {
        padding: 60px 0;
    }

    .footer_menu a {
        padding: 0 25px;
    }

    .footer_top_inner {
        display: block;
        text-align: center;
    }

    .footer_top_inner .btn {
        margin-top: 20px;
    }

    ._col_left,
    ._col_right {
        width: 100%;
    }  
    .login ._row {
    margin: 0 -40px;
}
    .login ._col {
    padding: 0 40px;
}
    .form .title {
    font-size:17px;
}
    ._col_senti_f, ._col_senti_s, ._col_senti_t {
    width: 100%;
}
    ._col_senti_s, ._col_senti_t {
    margin-top:20px
}
._account_col_first .form-group {
    width: 50%;
}
  ._option_scope, ._option_scope_center, ._option_scope_last {
        width:100%;
    }
    ._option_scope_center {
         margin-top:20px;
    }
}

@media (max-width:740px) {
    ._login_left, ._login_right {
        width:100%;
    }
    ._login_left {
        display:none;
    }
     .intra_row ._col._col_4 {
        width: 100%;
        margin-top:20px
    }
}

@media (max-width:600px) {
    .c {
        padding: 0 20px;
    }

    .banner_title {
        font-size: 30px;
    }

    .banner_sub,
    .faq .title {
        font-size: 25px;
    }

    .features .title {
        font-size: 40px;
    }

    .title {
        font-size: 19px;
    }

    .sec_pad {
        padding: 40px 0;
    }

    .faq_content {
        padding: 40px;
    }

    .testmonials.sec_pad {
        padding: 80px 0;
    }


    .how_works .swiper-container {
        margin-top: 40px;
    }

    .sec_pad+.sec_pad {
        margin-top: -40px;
    }

    .text {
        font-size: 15px;
    }
    .form .title {
    font-size:16px;
}
._col_3 {
        width: 100%;
    }
    ._account_col_first .form-group {
    width: 100%;
}
._account_col {
    width:100%;
}
._option_scope_center .dash_sec_inner {
    overflow:auto;
}
._option_scope_center .dash_content.net_oi {
    width:600px;
}
.total_open_interest {
    overflow:auto;
}
.total_open_interest .dash_content  {
    width:500px;
}
}

@media (max-width:420px) {
    .banner_title {
        font-size: 28px;
    }

    .banner_sub,
    .faq .title {
        font-size: 23px;
    }

    .title {
        font-size: 18px;
    }

    .features .title {
        font-size: 38px;
    }

    .text {
        font-size: 14px;
    }

    .sec_pad {
        padding: 30px 0;
    }

    ._col_3 {
        width: 100%;
    }

    .faq_content {
        padding: 30px;
    }
    .login ._row {
    margin: 0 -30px;
}
        .login ._col {
    padding: 0 30px;
}


    .testmonials.sec_pad {
        padding: 60px 0;
    }

    .how_works .swiper-container {
        margin-top: 30px;
    }

    .sec_pad+.sec_pad {
        margin-top: -30px;
    }

    .how_works .title {
        font-size: 33px;
    }

    .faq_content .title {
        font-size: 14px;
    }

    .footer_top {
        padding: 40px 0;
    }
   

}

@media (max-width:320px) {
    .banner_title {
        font-size: 26px;
    }

    .banner_sub,
    .faq .title {
        font-size: 20px;
    }
}