@media (max-width:1600px) {
    .c {
        padding: 0 40px;
    }

    .banner_title {
        font-size: 60px;
    }

    .banner_sub,
    .faq .title {
        font-size: 45px;
    }

    .features .title {
        font-size: 62px;
    }

    .sec_pad {
        padding: 80px 0;
    }

    .faq_content {
        padding: 80px;
    }

    .faq_content .title {
        font-size: 20px;
    }

    .testmonials.sec_pad {
        padding: 180px 0;
    }

    .sec_pad+.sec_pad {
        margin-top: -80px;
    }

    .how_works .title {
        font-size: 45px;
    }

    .how_works .swiper-container {
        margin-top: 80px;
    }

}

@media (max-width:1400px) {
    .banner_title {
        font-size: 55px;
    }

    .banner_sub,
    .faq .title {
        font-size: 43px;
    }

    .features .title {
        font-size: 60px;
    }

    .sec_pad {
        padding: 70px 0;
    }

    .faq_content {
        padding: 70px;
    }

    .testmonials.sec_pad {
        padding: 170px 0;
    }

    .how_works .swiper-container {
        margin-top: 70px;
    }

    .sec_pad+.sec_pad {
        margin-top: -70px;
    }

    .circles {
        height: 500px;
        width: 500px;
    }

    .how_works .title {
        font-size: 42px;
    }
}

@media (max-width:1200px) {
    .banner_title {
        font-size: 50px;
    }

    .banner_sub,
    .faq .title {
        font-size: 40px;
    }

    .features .title {
        font-size: 55px;
    }

    .sec_pad {
        padding: 60px 0;
    }

    .faq_content {
        padding: 60px;
    }

    .faq_content .title {
        font-size: 18px;
    }

    .testmonials.sec_pad {
        padding: 120px 0;
    }

    .how_works .swiper-container {
        margin-top: 60px;
    }

    .sec_pad+.sec_pad {
        margin-top: -60px;
    }

    .circles {
        height: 400px;
        width: 400px;
    }

    .how_works .title {
        font-size: 40px;
    }
}

@media (max-width:1024px) {
    .c {
        padding: 0 30px;
    }

    .banner_title {
        font-size: 45px;
    }

    .banner_sub,
    .faq .title {
        font-size: 35px;
    }

    .features .title {
        font-size: 50px;
    }

    .title {
        font-size: 20px;
    }

    .features ._col_2 {
        width: 100%;
    }

    .features ._col_2:first-child {
        justify-content: center;
        display: flex;
    }

    .circles {
        height: 600px;
        width: 600px;
    }

    .grid {
        padding: 30px
    }

    .sec_pad {
        padding: 50px 0;
    }

    .faq_content {
        padding: 50px;
    }

    .testmonials.sec_pad {
        padding: 100px 0;
    }

    .how_works .swiper-container {
        margin-top: 50px;
    }

    .sec_pad+.sec_pad {
        margin-top: -50px;
    }

    .how_works .title {
        font-size: 38px;
    }
}

@media (max-width:820px) {
    .banner_title {
        font-size: 40px;
    }

    .banner_sub,
    .faq .title {
        font-size: 30px;
    }

    ._col_3 {
        width: 50%;
    }

    .features .title {
        font-size: 45px;
    }

    .faq_content .title {
        font-size: 16px;
    }


    ._col {
        padding: 0 10px;
    }

    ._row {
        margin: 0 -10px
    }

    .three_box_inner ._col_3 {
        margin-bottom: 20px;
    }

    .grid {
        padding: 20px
    }

    .how_works .title {
        font-size: 35px;
    }

    ._testi_left,
    ._testi_right {
        width: 100%;
        padding: 0 20px
    }

    .testmonials ._row {
        margin: 0 -20px;
    }

    .faq_div {
        padding: 20px;
    }

    .faq_div:first-child {
        padding: 0 20px 20px 20px
    }

    .footer_top {
        padding: 60px 0;
    }

    .footer_menu a {
        padding: 0 25px;
    }

    .footer_top_inner {
        display: block;
        text-align: center;
    }

    .footer_top_inner .btn {
        margin-top: 20px;
    }

    ._col_left,
    ._col_right {
        width: 100%;
    }

    .banner_image {
        height: 350px
    }

}

@media (max-width:740px) {}

@media (max-width:600px) {
    .c {
        padding: 0 20px;
    }

    .banner_title {
        font-size: 30px;
    }

    .banner_sub,
    .faq .title {
        font-size: 25px;
    }

    .features .title {
        font-size: 40px;
    }

    .title {
        font-size: 19px;
    }

    .sec_pad {
        padding: 40px 0;
    }

    .faq_content {
        padding: 40px;
    }

    .testmonials.sec_pad {
        padding: 80px 0;
    }


    .how_works .swiper-container {
        margin-top: 40px;
    }

    .sec_pad+.sec_pad {
        margin-top: -40px;
    }

    .text {
        font-size: 15px;
    }
}

@media (max-width:420px) {
    .banner_title {
        font-size: 28px;
    }

    .banner_sub,
    .faq .title {
        font-size: 23px;
    }

    .title {
        font-size: 18px;
    }

    .features .title {
        font-size: 38px;
    }

    .text {
        font-size: 14px;
    }

    .sec_pad {
        padding: 30px 0;
    }

    ._col_3 {
        width: 100%;
    }

    .faq_content {
        padding: 30px;
    }

    .testmonials.sec_pad {
        padding: 60px 0;
    }

    .how_works .swiper-container {
        margin-top: 30px;
    }

    .sec_pad+.sec_pad {
        margin-top: -30px;
    }

    .how_works .title {
        font-size: 33px;
    }

    .faq_content .title {
        font-size: 14px;
    }

    .footer_top {
        padding: 40px 0;
    }

}

@media (max-width:320px) {
    .banner_title {
        font-size: 26px;
    }

    .banner_sub,
    .faq .title {
        font-size: 20px;
    }
}