.can-toggle {
    max-width: 167px;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
    box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
    pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
    opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0;
    width: 65px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch.approve_switch:before {
    width: 80px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    content: attr(data-checked);
}
.can-toggle label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
}
.can-toggle label .can-toggle__label-text {
    flex: 1;
    padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
    position: relative;
}
.can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-align: center;
}
.can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-align: center;
    background: white;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
    color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ label {
    color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
    color: #55bc49;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #4fb743;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #5fc054;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    color: #47a43d;
}
.can-toggle label .can-toggle__label-text {
    flex: 1;
}
.can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #848484;
}
.can-toggle label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.75);
}
.can-toggle label .can-toggle__switch:after {
    transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #495057;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    -webkit-transform: translate3d(63px, 0, 0);
    transform: translate3d(63px, 0, 0);
    width: 100px;    
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch.approve_switch:after {
    -webkit-transform: translate3d(78px, 0, 0);
    transform: translate3d(78px, 0, 0);  
}
.can-toggle label .can-toggle__switch {
    height: 36px;
    flex: 0 0 167px;
    border-radius: 4px;
}
.can-toggle label .can-toggle__switch.approve_switch{
    flex: 0 0 182px;
}
.can-toggle label .can-toggle__switch:before {
    left: 67px;
    font-size: 16px;
    line-height: 36px;
    width: 100px;
    padding: 0 12px;
}
.can-toggle label .can-toggle__switch.approve_switch:before {
    left: 82px;
}
.can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 65px;
    line-height: 32px;
    font-size: 16px;
}
.can-toggle label .can-toggle__switch.approve_switch:after {
    width: 80px;
}